body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.75px;
    word-spacing: 1px;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

tr {
    border: 1px solid black;
}

tr#header {
    background-color: rgb(255, 211, 129);
}

th, td {
    border: 1px solid rgb(216, 216, 216);
    padding: 10px;
}

/* CSS Flex */

#table2 {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    align-items: stretch;
    background-color: white;
    font-size: 18px;
    color: white;
}

.flex-container  div {
    background-color: rgb(68, 187, 255);;
    padding: 10px;
    text-align: center;
    margin: 5px 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.flex-container div:hover {
    background-color: rgb(62, 115, 151);
}

/* CSS Grid */

.item1 { grid-area: number; }
.item2 { grid-area: info; }
.item3 { grid-area: image; }

#table3, #table4 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-areas: 'number info image';
    grid-gap: 10px;
    background-color: antiquewhite;
    margin: 30px 10px;
}

.grid-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(29, 109, 109);
    color: white;
}

@media (max-width: 800px) {
   #table2 {
        width: 100%;
    }
    #table3 {
        width: 100%;
    }
}

@media (max-width: 565px) {
    .flex-container {
        flex-direction: column;
    }
    #table4, #table5 {
        width: 100%;
    }
}