
@import "colors";
$fullheight: 100%;
$fullwidth: 100%;
$bgImage: "../images/background.jpg";
$transparent-color: rgba(15, 15, 15, 0.7);
$text1: 12pt;
$text2: 15pt;
$yellow-color: rgb(251, 255, 0);
$yellow-color-1: rgb(243, 228, 21);
$shadow-hover: 5px 5px 5px rgba(199, 199, 199, 0.1);

@mixin bg-linear-color {
  background: linear-gradient(to left top, #145ca0, #80d0ff);
}

@mixin align-text-in-div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin align-in-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin highlight-Text {
  color: $yellow-color;
  font-weight: 600;
}

// Mixin
@mixin important-text {
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 70pt;
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2pt;
}

/* use the variables */
.main {
  background-image: url($bgImage);
  background-repeat: no-repeat;
  height: 100vh;
}

.main__header {
  position: fixed;
  width: 100%;
  padding: 10px;
  color: white;
  z-index: 1000;
}

.nav-link {
  font-weight: 400;
}

.main__transparent-bg {
  background: $transparent-color;
  height: $fullheight;
  // padding: 0;

  h1 {
    color: white;
    @include important-text();
  }
}

.main-text {
  @include align-text-in-div();
  // background-color: red;
  color: white;
  padding-top: 300px;
  height: 60%;

  p {
    font-size: $text2;
  }
  
}

.highlight-text {
  @include highlight-Text();
}

#about-section {
  margin-top: 100px;
}

.about-section__row {
  margin-top: 100px;
}

.about-section__row--bg {
  background-image: url('../images/bokeh.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.city-image {
  height: 416px;
  width: 286px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr.line-break {
  border: 3px solid $yellow-color-1;
}

.div-align-content {
  @include align-text-in-div();
}

.text {
  font-weight: 500;
  color: rgb(104, 104, 104);
}

.left-text {
  @extend .text;
  font-size: $text1;
}

.text1 {
  @extend .text;
  font-size: 22pt;
  font-style: italic
}

.text2 {
  @extend .text;
  color: rgb(100, 100, 100);
  font-size: $text1;
}

.right-text {
  @include align-text-in-div();
  text-align: left;
  padding: 20px;
}

.user-list {
  margin-top: 100px;
}

.user-list__title {
  @include align-text-in-div();

  h3 {
    font-style: italic;
  }

  .highlight-text {
    color: $yellow-color-1;
    font-style: italic;
  }

  p {
    @extend .text;
  }
}

.user-list__users {
  margin-top: 25px;

  .image {
    height: 150px;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }

  .card {
    transition: 0.3s;
  }

  img {
    object-fit: cover;
    transition: transform 0.5s;
    height: 100%;
    width: 100%;
  }

  img:hover {
    transform: scale(1.5);
  }

  .card:hover {
    box-shadow: $shadow-hover;
  }

  .card-title:hover {
    text-decoration: underline;
    color: rgb(14, 139, 223);
  }
}

.popup-view {
  width: 100vw;
  height: 100vh;
  background-color: $transparent-color;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  // display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 100%;
    @include bg-linear-color();
    border: none;
    cursor: pointer;
    color: white;
  }

  button:hover {
    color: white;
    
  }

  
}

.pop-view__card {
  

}

@media(min-width: 765px) {
  #variety-text {
    padding-top: 300px;
  }
}



// .logo {
//   font-size: 18pt;
//   width: 100%;
//   height: 100%;
//   @include align-text-in-div();
// }