/* define primary colors */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2pt;
}

/* use the variables */
.main {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
}

.main__header {
  position: fixed;
  width: 100%;
  padding: 10px;
  color: white;
  z-index: 1000;
}

.nav-link {
  font-weight: 400;
}

.main__transparent-bg {
  background: rgba(15, 15, 15, 0.7);
  height: 100%;
}

.main__transparent-bg h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-size: 70pt;
  font-weight: bold;
  font-style: italic;
}

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  padding-top: 300px;
  height: 60%;
}

.main-text p {
  font-size: 15pt;
}

.highlight-text {
  color: #fbff00;
  font-weight: 600;
}

#about-section {
  margin-top: 100px;
}

.about-section__row {
  margin-top: 100px;
}

.about-section__row--bg {
  background-image: url("../images/bokeh.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.city-image {
  height: 416px;
  width: 286px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr.line-break {
  border: 3px solid #f3e415;
}

.div-align-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.text, .left-text, .text1, .text2, .user-list__title p {
  font-weight: 500;
  color: #686868;
}

.left-text {
  font-size: 12pt;
}

.text1 {
  font-size: 22pt;
  font-style: italic;
}

.text2 {
  color: #646464;
  font-size: 12pt;
}

.right-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-align: left;
  padding: 20px;
}

.user-list {
  margin-top: 100px;
}

.user-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.user-list__title h3 {
  font-style: italic;
}

.user-list__title .highlight-text {
  color: #f3e415;
  font-style: italic;
}

.user-list__users {
  margin-top: 25px;
}

.user-list__users .image {
  height: 150px;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.user-list__users .card {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.user-list__users img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  height: 100%;
  width: 100%;
}

.user-list__users img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.user-list__users .card:hover {
  -webkit-box-shadow: 5px 5px 5px rgba(199, 199, 199, 0.1);
          box-shadow: 5px 5px 5px rgba(199, 199, 199, 0.1);
}

.user-list__users .card-title:hover {
  text-decoration: underline;
  color: #0e8bdf;
}

.popup-view {
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 15, 15, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-view button {
  width: 100%;
  background: -webkit-gradient(linear, right bottom, left top, from(#145ca0), to(#80d0ff));
  background: linear-gradient(to left top, #145ca0, #80d0ff);
  border: none;
  cursor: pointer;
  color: white;
}

.popup-view button:hover {
  color: white;
}

@media (min-width: 765px) {
  #variety-text {
    padding-top: 300px;
  }
}
/*# sourceMappingURL=main.css.map */