.add-form {
    margin: 10px auto auto;
    width: 400px;
    height: auto;
    /* border: 1px solid rgb(112, 112, 112); */
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(31, 31, 31, 0.19);
    background-color: white;
    position: relative;
}

.add-form-title {
    padding: 50px;
}

.add-form-input {
    margin: 10px;
}

input {
    border: 1px solid rgb(197, 197, 197); 
    border-radius: 5px;
    margin-left: 20px;
}

.add-btn {
    margin-top: 30px;
    width: 40%;
    background-image: linear-gradient(to left top, hsl(189, 100%, 50%), hsl(209, 71%, 73%));
    color: white;
    /* border: 1px solid rgb(163, 163, 163); */
    border: none;
    border-radius: 7px;
    height: 32px;
    font-weight: 600;
    margin: 30px;
}

.add-btn:hover {
    background-image:  linear-gradient(to left top, #2c6daa, #63bee2);;
}

.add-btn:active {
    box-shadow: 0 4px 8px 0 rgba(107, 107, 107, 0.2), 0 6px 20px 0 rgba(87, 87, 87, 0.19);
} 

.add-btn:disabled {
    background-image: none;
    background-color: rgb(201, 201, 201);
}

.alert-danger {
    color: red;
    background-color: white;
    text-align: right;
    margin: 0px 20px;
}

.close-btn {
    position: absolute;
    right: 0;
}

.close-btn button {
    background-image: linear-gradient(to left top, hsl(4, 100%, 50%), hsl(0, 71%, 73%));
    color: white;
    border-radius: 7px;
    font-weight: 600;
    border: none;
}

