<div class="container-fluid add-form">
    <div class="row close-btn">
        <button (click)="closeForm()">Close</button>
    </div>
    <div class='row add-form-title'>
        <h2>Add tutorial</h2>
    </div>
    <div class='row'>
        <form [formGroup]="addTutorialForm">
            <div class="row add-form-input">
                <div class="col-4">
                    <label for="title">Title: </label>
                </div>
                <div class="col-8">
                    <input type="text" id="title" formControlName="title" required>
                </div> 
            </div>
            <div class="alert-danger" *ngIf="title?.invalid && (title?.touched)">
                <span *ngIf="title?.errors?.required">
                    Title is required.
                </span>  
                <span *ngIf="title?.errors?.minlength">
                    Title must be at least 3 characters long.
                </span>     
            </div>
            
            <div class="row add-form-input">
                <div class="col-4">
                    <label for="description">Description: </label>
                </div>
                <div class="col-8">
                    <input type="text" id="description" formControlName="description" required>
                </div>
            </div>
            <div class="alert-danger" *ngIf="description?.invalid && (description?.dirty || description?.touched)">
                <span *ngIf="description?.errors?.required">
                    Title is required.
                </span>   
            </div>
        
            <button class="add-btn" 
                (click)="saveTutorial()"
                [disabled]="addTutorialForm.invalid"
            >Submit</button>
        </form>
    </div>
</div>