<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<!-- <form> -->
    <label for="first-name">First Name: </label>
    <input type="text" id='first-name' formControlName="firstName">
    <!-- <p>fistname: {{ firstName.value }}</p> -->


    <label for="last-name">Last Name: </label>
    <input type="text" id='last-name' formControlName="lastName">
    
    <div formGroupName="address">
        <h2>Address</h2>
      
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">
      
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">
      
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">
      
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip">
    </div>

    <p>Complete form button</p>   
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>

    <p>Form Value: {{ profileForm.value | json }}</p>
    <p>Form Status: {{ profileForm.status }}</p>

    <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button type="button" (click)="addAlias()">+ Add another alias</button>
      
        <div *ngFor="let alias of aliases.controls; let i=index">
          <!-- The repeated alias template -->
          <label for="alias-{{ i }}">Alias:</label>
          <input id="alias-{{ i }}" type="text" [formControlName]="i">
        </div>
    </div>

    <button type="button" (click)="updateProfile()">Update Profile</button>
</form>
