<div class="container">
    <h3>Tutorial list</h3>

    <form class="d-flex" style="max-width: 450px;">
        <input class="form-control me-2" type="search" placeholder="Search title" aria-label="Search" [(ngModel)]="searchKey" id="search" name="searchKey">
        <button class="btn search-btn" type="submit" (click)="getSearchData(searchKey)">Search</button>
    </form>

    <!-- <p>{{ searchKey }} hgbj</p> -->

    <div class="row no-data" *ngIf="!tutorials?.length">
        <span>No Data</span>
    </div>

    <ng-template #TutorialList>
        <div 
            class="row tutorial" 
            *ngFor="
                let tutorial of tutorials | paginate : {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: count
                    };
                let i = index
            "
            [class.active]="i == currentIndex"
        >
            <div class="col-10">
                <a
                    [routerLink]="['/tutorial-list', tutorial.title]">
                    {{ tutorial.title }}
                </a>
                <p>{{ tutorial.description }}</p>
                <p>Tutor: <b>{{ tutorial.creator }}</b></p>
            </div>
            <div class="col-2 container-fluid">
                
            </div>
        </div>
        <div>
            <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                [responsive]="true"
                (pageChange)="handlePageChange($event)"
            ></pagination-controls>
        </div>
    </ng-template>

    <div *ngIf="searchResult; else TutorialList">
        <div class="row tutorial" *ngFor="let tutorial of searchResult">
            <div class="col-10">
                <a
                    [routerLink]="['/tutorial-list', tutorial.title]">
                    {{ tutorial.title }}
                </a>
                <p>{{ tutorial.description }}</p>
            </div>
            <!-- <div class="col-2 container-fluid" style="">
                <button class="btn delete-btn" (click)="delete(tutorial.title)">
                    Delete
                </button>
            </div> -->
        </div>
    </div>
</div>