.tutorial {
    border: 1px solid rgb(235, 235, 235);
    border-top: none;
    border-radius: 8px 0px;
    margin: 20px;
    background-color: rgba(247, 247, 247, 0.89);
    padding-top: 10px;
    max-width: 75%;
}

.tutorial a {
    background: -webkit-linear-gradient(hsl(189, 100%, 50%), hsl(209, 71%, 73%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 700;
}

.tutorial p {
    color: rgb(126, 126, 126);
}

.tutorial:hover {
    box-shadow: 5px 5px 5px rgba(105, 105, 105, 0.1);
}

.btn {
    color: white;
    border-radius: 7px;
    font-weight: 600;
    border: none;
}

.search-btn {
    background-image: linear-gradient(to left top, hsl(189, 100%, 50%), hsl(209, 71%, 73%));
}

.delete-btn {
    background-image: linear-gradient(to left top, hsl(4, 100%, 50%), hsl(0, 71%, 73%));
}

.success-btn {
    background-image: linear-gradient(to left top, hsl(138, 100%, 40%), hsl(135, 71%, 73%));
}

.update-btn {
    background-image: linear-gradient(to left top, hsl(36, 100%, 50%), hsl(40, 95%, 83%));
}

.btn:hover {
    box-shadow: 5px 5px 5px rgba(41, 41, 41, 0.1); 
}

.form-control:focus {
    box-shadow: 5px 5px 5px rgba(105, 105, 105, 0.1);
    border-color: hsl(189, 100%, 50%);
}

.no-data {
    text-align: center;
    color: rgb(187, 187, 187);
    font-size: 18px;
    font-weight: 600;
    padding: 30px;
}