<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-10">
                    <ul class="navbar-nav mr-auto" routerLinkActive="active">
                        <li class="nav-item">
                            <a href="/home" class="nav-link" routerLink="tutorial-list" routerLinkActive="active">Home</a>
                        </li>
                        <li class="nav-item" *ngIf="showAdminBoard">
                            <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
                        </li>
                        <li class="nav-item" *ngIf="showModeratorBoard">
                            <a class="nav-link" routerLink="tutor">Your Tutorials</a>
                        </li>
                        <li class="nav-item" *ngIf="showSubscriberBoard">
                            <a href="/subscriber" class="nav-link" *ngIf="isLoggedIn" routerLink="subscriber" routerLinkActive="active">Your Courses</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-md-2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!isLoggedIn">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/signin" routerLinkActive="active">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/profile" routerLinkActive="active">{{ username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="logout()">LogOut</a>
                        </li>
                    </ul>
                </div>     
            </div>
        </div>
    </nav>
</div>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
