<div class="container-fluid login-page">
    <div class='row login-form'>
        
        <div class="title">
            <h2>Login</h2>
        </div>
    
        <form [formGroup]="loginForm">
            <div class="row login-row">
                <div class="row">
                    <label for="title">Username: </label>
                </div>
                <div class="row">
                    <input type="text" id="username" formControlName="username" required placeholder="username">        
                </div>
            </div>
            <div class="alert-danger" *ngIf="username?.touched">
                <span *ngIf="username?.errors?.required">
                    Username is required.
                </span>  
                <span *ngIf="username?.errors?.minlength">
                    Username must be at least 5 characters long.
                </span>     
            </div>
            
            <div class="row login-row">
                <div class="row">
                    <label for="password">Password: </label>
                </div>
                <div class="row">
                    <input type="password" id="password" formControlName="password" required placeholder="password">
                </div>
            </div>
            <div class="alert-danger" *ngIf="password?.invalid && password?.touched">
                <span *ngIf="password?.errors?.required">
                    Password is required.
                </span>   
                <span *ngIf="password?.errors?.minlength">
                    Password must be at least 5 characters long.
                </span> 
            </div>
        
            <div class="row login-row">
                <button class="login-btn" 
                    (click)="onSubmit()"
                    [disabled]="loginForm.invalid"
                >Login</button>
            </div>
            <div class="row login-row" style="text-align: center;">
               <a [routerLink]="['/signup']">
                   SIGN UP
               </a>
            </div>
        </form>
    </div>
</div>

