.login-page {
    background-image: linear-gradient(to right bottom, hsl(189, 100%, 75%), hsl(209, 100%, 57%));
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
}

.login-page h2 {
    font-weight: 700;
}

.login-form {
    background-color: white;
    max-width: 40%;
    max-height: auto;
    padding: 30px;
    border-radius: 2% 3%;
}

.login-form .title {
    text-align: center;
    padding: 20px;
}

.login-row {
    padding: 10px;
    
}

.login-row input {
    margin: 10px;
    border: none;
    border-bottom: 1px solid rgb(192, 192, 192);
    outline: none;
    padding-bottom: 5px;
}

.login-row label {
    font-weight: 650;
    color: rgb(109, 109, 109);
}

::placeholder {
    color: rgb(207, 207, 207);
    font-weight: 400;
}

.login-row input:focus {
    outline: none;
    border-bottom: 1px solid hsl(189, 100%, 50%);
}

.login-form button {
    width: 100%;
    background-image: linear-gradient(to left top, hsl(189, 100%, 50%), hsl(209, 71%, 73%));
    color: white;
    border: none;
    border-radius: 7px;
    height: auto;
    font-weight: 600;
    margin: 20px auto;
    padding: 7px;
}

.login-form button:hover {
    background-image: linear-gradient(to left top, hsl(202, 100%, 50%), hsl(209, 71%, 73%));
}

.login-form a {
    color: rgb(80, 80, 80);
    text-decoration: unset;
    font-weight: 450;
}

a:hover {
    background: -webkit-linear-gradient(hsl(189, 100%, 50%), hsl(209, 71%, 73%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px) {
    .login-form {
        max-width: 85%;
    }
}

@media screen and (min-width: 1100px) {
    .login-form {
        max-width: 20%;
    }
}