<div class="container-fluid login-page">
    <div class='row login-form'>
        
        <div class="title">
            <h2>Sign Up</h2>
        </div>
    
        <form [formGroup]="signupForm">
            <div class="row login-row">
                <div class="row">
                    <label for="username">Username: </label>
                </div>
                <div class="row">
                    <input type="text" id="username" formControlName="username" required placeholder="username">        
                </div>
            </div>
            <div class="alert-danger" *ngIf="username?.invalid && (username?.touched)">
                <span *ngIf="username?.errors?.required">
                    Username is required.
                </span>  
                <span *ngIf="username?.errors?.minlength">
                    Username must be at least 5 characters long.
                </span>  
                <span *ngIf="username?.errors?.maxlength">
                    Username must be at most 20 characters long.
                </span> 
            </div>

            <div class="row login-row">
                <div class="row">
                    <label for="email">Email: </label>
                </div>
                <div class="row">
                    <input type="text" id="email" formControlName="email" required placeholder="email">        
                </div>
            </div>
            <div class="alert-danger" *ngIf="email?.invalid && (email?.touched)">
                <span *ngIf="email?.errors?.required">
                    Email is required.
                </span>  
                <span *ngIf="email?.errors?.email">
                    Invalid email.
                </span> 
            </div>
            
            <div class="row login-row">
                <div class="row">
                    <label for="password">Password: </label>
                </div>
                <div class="row">
                    <input type="password" id="password" formControlName="password" required placeholder="password">
                </div>
            </div>
            <div class="alert-danger" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                <span *ngIf="password?.errors?.required">
                    Password is required.
                </span>   
                <span *ngIf="password?.errors?.minlength">
                    Password must be at least 5 characters long.
                </span>
            </div>
        
            <div class="row login-row">
                 <div class="row">
                    <label for="role">Role: </label>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <input type="radio" name="role" id="tutor" value="tutor" formControlName="role" required>
                        <label for="tutor">Tutor</label>
                    </div>
                    <div class="col-md-7">
                        <input type="radio" name="role" id="subscriber" value="subscriber" formControlName="role" required>
                        <label for="subscriber">Subscriber</label>
                    </div>
                </div>
            </div>
            <div class="alert-danger" *ngIf="role?.invalid">
                <span *ngIf="roleInvalid">
                    Role is required.
                </span>   
            </div>

            <div class="row login-row">
                <button class="login-btn" 
                    (click)="onSubmit()"
                    
                >Sign Up</button>
            </div>
            
        </form>
    </div>
</div>

