<div class="container">
    <h3>Your Courses</h3> 
    <div class="row no-data" *ngIf="!tutorials.length; else TutorialList">
        <span>No Data</span>
    </div>

    <ng-template #TutorialList>
        <div 
            class="row tutorial" 
            *ngFor="
                let tutorial of tutorials | paginate : {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: count
                    };
                let i = index
            "
            [class.active]="i == currentIndex"
        >
            <div class="col-9">
                <a
                    [routerLink]="['/tutorial-list', tutorial.title]">
                    {{ tutorial.title }}
                </a>
                <p>{{ tutorial.description }}</p>
                <p>Tutor: <b>{{ tutorial.creator }}</b></p>
            </div>
            <div class="col-3 container-fluid">
                <button class="btn update-btn" (click)="unsubscribeTutorial(tutorial)">
                    Unsubscribe
                </button>
            </div>
        </div>
        <div>
            <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                [responsive]="true"
                (pageChange)="handlePageChange($event)"
            ></pagination-controls>
        </div>
    </ng-template>

</div>