.total-div {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px 0px;
    margin: 20px;
    background-color: rgba(247, 247, 247, 0.89);
    width: auto;
    height: auto;
    padding: 20px;
}

.data-block {
    border-right: 1px solid rgb(235, 235, 235);
}

.total-div--figure {
    color: hsl(36, 100%, 50%);
    font-size: 50px;
    font-weight: 600;
}

.total-div--normal {
    font-size: 24px; 
    color: rgb(85, 85, 85);
    font-weight: 400;
}

.line-chart {
    margin: 50px;
    border-top: 1px solid rgb(235, 235, 235);
    padding: 50px 0px;
}

.line-chart .title {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0px;
}

.btn {
    color: white;
    border-radius: 7px;
    font-weight: 600;
    border: none;
    background-image: linear-gradient(to left top, hsl(189, 100%, 50%), hsl(209, 71%, 73%));
    margin: 0px 10px;
}

.btn:hover {
    box-shadow: 5px 5px 5px rgba(41, 41, 41, 0.1); 
}

.btn-active {
    width: 100px;
    height: 50px;
}