<div class="container">
  <div class="row">
    <div class="col-6 data-block">
      <div class="row">
        <div class="total-div">
          <div class="total-div--figure">
            {{ totalTutorial }} <span class="total-div--normal">tutorials</span>
          </div>
        </div>
      </div>
      <div class="row">
        <app-doughnut-chart
          [chartData]="tutorialData"
          [chartLabels]="['has subscribers', 'no subscribers']"
        ></app-doughnut-chart>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="total-div">
          <div class="total-div--figure">
            {{ totalUser }} <span class="total-div--normal">users</span>
          </div>
        </div>
      </div>
      <div class="row">
        <app-doughnut-chart
          [chartData]="userData"
          [chartLabels]="['student', 'tutor']"
        ></app-doughnut-chart>
      </div>
    </div>
  </div>
  <div class="row line-chart">
    <span class="title">
      Tutorials created in the last 
      <button class="btn" [ngClass]="{ 'btn-active': isButton7Active }" type="submit" (click)="input7Days()">7 days</button>
      <button class="btn" [ngClass]="{ 'btn-active': isButton10Active }" type="submit" (click)="input10Days()">10 days</button>
    </span>
    
    <app-line-chart
      [inputDays]="numberOfDays"
    ></app-line-chart>
  </div>
</div>

