<div class="container-fluid row">
    <div class="col-md-2">    
    </div>
    <div class="col-md-4">
        <div class="row">
            <h4>Title: {{ tutorial?.title }}</h4>
        </div>
        <div class="row">
            <p>Description: {{ tutorial?.description }} </p>
            <p>
                Creator: <b class="color-gradient" style="font-size: 18px;">{{ tutorial?.creator }}</b>
                <br>
                Numbers of Subscribers: <b class="color-gradient" style="font-size: 18px;">{{ tutorial?.subscribers.length }}</b>
            </p>
        
            <div *ngIf="isTutor && isRoleTutor">
                <b style="font-size: 18px;">Subscribers</b>:
                <app-table-detail [items]="tutorial.subscribers"></app-table-detail>
            </div>
        </div>
        <div class="row">
            <button class="update-button" style="width: 150px;" (click)="updateEvent()">Update</button>
        </div>
        <div class="container-fluid" *ngIf="isSubscriber">
            
            <button class="btn success-btn" (click)="subscribeTutorial()" *ngIf="!hasSubscribed else hasSub">
                Subscribe
            </button>
            <ng-template #hasSub>
                <button class="btn update-btn" (click)="unsubscribeTutorial()">
                    Unsubscribe
                </button>
            </ng-template>
    
        </div>
    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-1">
    </div>
</div>

<div class="update-section" [ngStyle]="{ display: displayForm }">
    <div class="update-form" *ngIf="isTutor && isRoleTutor">
        <div class="row close-btn">
            <button (click)="closeForm()">Close</button>
        </div>
        <div class='row update-form-title'>
            <h2>Update Tutorial</h2>
        </div>
        <div class='row'>
            <form [formGroup]="updateForm">
                <div class="row update-form-input">
                    <div class="col-4">
                        <label for="title">Title: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="title" formControlName="title" required>
                    </div> 
                </div>
                <!-- <p>{{ updateForm.value.title }}</p> -->
                <div class="row update-form-input">
                    <div class="col-4">
                        <label for="description">Description: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" id="description" formControlName="description" required>
                    </div>
                </div>
                <!-- <p>{{ updateForm.invalid }}</p> -->
                <button class="update-button" 
                    (click)="updateTutorial()"
                    [disabled]="updateForm.invalid"     
                >Update</button>
            </form>
        </div>
    </div>
</div>


    


