.update-section {
    background-color: grey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.6);
}

.update-form {
    position: relative;
    width: 400px;
    height: auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(31, 31, 31, 0.19);
    background-color: white;
}

.update-form-title {
    padding: 50px;
}

.update-form-input {
    margin: 10px;
}

input {
    border: 1px solid rgb(197, 197, 197); 
    border-radius: 5px;
    max-width: 100%;
}

.update-button {
    margin-top: 30px;
    width: 40%;
    background-image: linear-gradient(to left top, hsl(36, 100%, 50%), hsl(40, 95%, 83%));
    color: white;
    border: none;
    border-radius: 7px;
    height: 32px;
    font-weight: 600;
    margin: 30px;
}

.close-btn {
    position: absolute;
    right: 0;
}

.close-btn button {
    background-image: linear-gradient(to left top, hsl(4, 100%, 50%), hsl(0, 71%, 73%));
    color: white;
    border-radius: 7px;
    font-weight: 600;
    border: none;
}

.update-button:hover {
    background-image:  linear-gradient(to left top, #ffab0e, #e2c063);;
}

.update-button:active {
    box-shadow: 0 4px 8px 0 rgba(107, 107, 107, 0.2), 0 6px 20px 0 rgba(87, 87, 87, 0.19);
} 

.update-button:disabled {
    background-image: none;
    background-color: rgb(201, 201, 201);
}

.alert-danger {
    color: red;
    background-color: white;
    text-align: right;
    margin: 0px 20px;
}

.color-gradient {
    background: -webkit-linear-gradient(hsl(189, 100%, 50%), hsl(209, 71%, 73%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


