table {
    border-collapse: collapse;
    width: 50%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

tr {
    border: 1px solid black;
}

/* tr#header {
    background-color: rgb(255, 211, 129);
} */

th, td {
    border: 1px solid rgb(216, 216, 216);
    padding: 10px;
}