<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i = index">
            <td>
                {{ i + 1 }}
            </td>
            <td>
                {{ item }}
            </td>
        </tr>
    </tbody>

</table>

