<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Your Tutorials</h3>
        </div>
        <div class="col-5"></div>
        <div class="col-3">
            <button class="btn search-btn" (click)="addTutorial()"><span style="font-size: 18px;">+</span> Add Tutorial</button>
        </div>
    </div>

    <div class="row no-data" *ngIf="!tutorials.length; else TutorialList">
        <span>No Data</span>
    </div>

    <ng-template #TutorialList>
        <div 
            class="row tutorial" 
            *ngFor="
                let tutorial of tutorials | paginate : {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: count
                    };
                let i = index
            "
            [class.active]="i == currentIndex"
        >
            <div class="col-10">
                <a
                    [routerLink]="['/tutorial-list', tutorial.title]">
                    {{ tutorial.title }}
                </a>
                <p>{{ tutorial.description }}</p>
                <p>Tutor: <b>{{ tutorial.creator }}</b></p>
            </div>
            <div class="col-2 container-fluid">
                <div class="row">
                    <button class="btn delete-btn" (click)="delete(tutorial.title)">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        <div>
            <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                [responsive]="true"
                (pageChange)="handlePageChange($event)"
            ></pagination-controls>
        </div>
    </ng-template>

    <div class="add-tutorial" [ngStyle]="{ 'display': isAddTutorial }">
        <app-add-tutorial
            (closeEvent)="close()"
            (afterSaveEvent)="updateList()"
        ></app-add-tutorial>
    </div>
</div>