<div class="chartjs-container">
    <canvas baseChart 
        [data]="chartData" 
        [labels]="chartLabels" 
        [chartType]="chartType"
        [colors]="chartColors">
    </canvas>
</div>
